html, body {
    width: 100%;
    background: lightgrey;
    color: black;
    font-size: 16px;
}
input {
    font-size: 16px !important;
}
h1 {
    text-align: center;
}
p.intro {
    text-align: center;
    font-size: 22px;
}
form h2 {
    font-size: 34px;
    font-weight: bold;
}
.input-field {
    margin-top: 8px;
}
.illustration {
    font-size: 20px;
    font-weight: bold;
}
.error, .error-login {
    display: none;
    font-size: 16px;
    color: red;
    margin-top: 4px;
}
div.bootstrap-select {
    width: 100% !important;
}
button.dropdown-toggle {
    height: 40px;
    font-size: 16px;
}
#field-dept_names div.dropup ul li a {
    font-size: 16px;
}
#field-stop_time div.btn-group {
    margin-top: 6px;
}
form.form-signin button {
    margin-top: 12px;
}
div[ng-controller='controller-login'] {
    display: none;
}
